/* navbar */
.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* .jumbotron : display name, image, profession and blockquote */
.jumbotron {
        background: #6f5499;
        margin-top:98px;
      }
.jumbotron h2, 
.jumbotron small, 
.jumbotron p, 
.jumbotron footer {
    color: #fff; 
}

.image-mine {
	border: solid 1px #fff;
	background: #fff; 
	border-radius: 10px;
	margin-top:20px;
}

.jumbotron-blockquote {
	padding-left: 0; 
	border: none;
}

.page-footer {
	padding: 10px 15px;
	margin-bottom: 15px;
}
